USE [master]
GO
/****** Object:  Database [Grading Management System]    Script Date: 7/13/2022 11:30:19 PM ******/
CREATE DATABASE [Grading Management System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Grading Management System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HUYVU\MSSQL\DATA\Grading Management System.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Grading Management System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HUYVU\MSSQL\DATA\Grading Management System_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Grading Management System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Grading Management System]
GO
/****** Object:  Table [dbo].[Assesment]    Script Date: 7/13/2022 11:30:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assesment](
	[AssID] [varchar](10) NOT NULL,
	[CDID] [varchar](10) NOT NULL,
	[CourseID] [varchar](10) NOT NULL,
	[Duration] [time](2) NOT NULL,
	[Weight] [float] NOT NULL,
 CONSTRAINT [PK_Assesment] PRIMARY KEY CLUSTERED 
(
	[AssID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/13/2022 11:30:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [varchar](10) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[CompletionCriteria] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryDetails]    Script Date: 7/13/2022 11:30:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryDetails](
	[cdID] [varchar](10) NOT NULL,
	[CategoryID] [varchar](10) NOT NULL,
	[CDName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CategoryDetails] PRIMARY KEY CLUSTERED 
(
	[cdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 7/13/2022 11:30:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [varchar](10) NOT NULL,
	[CourseName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grade]    Script Date: 7/13/2022 11:30:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grade](
	[sID] [char](8) NOT NULL,
	[AssID] [varchar](10) NOT NULL,
	[Score] [float] NOT NULL,
	[DateExam] [date] NULL,
 CONSTRAINT [PK_Grade] PRIMARY KEY CLUSTERED 
(
	[AssID] ASC,
	[sID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 7/13/2022 11:30:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[Gid] [varchar](10) NOT NULL,
	[gName] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[Gid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group_Student]    Script Date: 7/13/2022 11:30:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_Student](
	[gID] [varchar](10) NOT NULL,
	[sID] [char](8) NOT NULL,
 CONSTRAINT [PK_Group_Student] PRIMARY KEY CLUSTERED 
(
	[gID] ASC,
	[sID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 7/13/2022 11:30:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[SesID] [varchar](10) NOT NULL,
	[SesName] [varchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
 CONSTRAINT [PK_Semester] PRIMARY KEY CLUSTERED 
(
	[SesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 7/13/2022 11:30:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[sID] [char](8) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[DOB] [date] NOT NULL,
	[Address] [nvarchar](150) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[sID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[View]    Script Date: 7/13/2022 11:30:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[View](
	[sID] [char](8) NOT NULL,
	[CourseID] [varchar](10) NOT NULL,
	[Semester] [varchar](10) NOT NULL,
	[Average] [float] NULL,
	[Status] [varchar](20) NULL,
 CONSTRAINT [PK_View] PRIMARY KEY CLUSTERED 
(
	[sID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Assesment] ([AssID], [CDID], [CourseID], [Duration], [Weight]) VALUES (N'CSI_FE', N'FE', N'CSI104', CAST(N'01:00:00' AS Time), 40)
INSERT [dbo].[Assesment] ([AssID], [CDID], [CourseID], [Duration], [Weight]) VALUES (N'CSI_LAB1', N'LAB1', N'CSI104', CAST(N'01:00:00' AS Time), 10)
INSERT [dbo].[Assesment] ([AssID], [CDID], [CourseID], [Duration], [Weight]) VALUES (N'CSI_LAB2', N'LAB2', N'CSI104', CAST(N'01:00:00' AS Time), 10)
GO
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CompletionCriteria], [Type]) VALUES (N'ACT', N'Activity', N'>0', N'on-going')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CompletionCriteria], [Type]) VALUES (N'ASS', N'Assignment', N'>0', N'on-going')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CompletionCriteria], [Type]) VALUES (N'FE', N'Final exam', N'4', N'final exam')
GO
INSERT [dbo].[CategoryDetails] ([cdID], [CategoryID], [CDName]) VALUES (N'ACT1', N'ACT', N'Activity 1')
INSERT [dbo].[CategoryDetails] ([cdID], [CategoryID], [CDName]) VALUES (N'ACT2', N'ACT', N'Activity 2')
INSERT [dbo].[CategoryDetails] ([cdID], [CategoryID], [CDName]) VALUES (N'ACT3', N'ACT', N'Activity 3')
GO
INSERT [dbo].[Course] ([CourseID], [CourseName]) VALUES (N'CSI104', N'Introduction to Computer Science ')
INSERT [dbo].[Course] ([CourseID], [CourseName]) VALUES (N'MAD101', N'Discrete mathematics')
INSERT [dbo].[Course] ([CourseID], [CourseName]) VALUES (N'MAE101', N'Mathematics for Engineering')
GO
INSERT [dbo].[Grade] ([sID], [AssID], [Score], [DateExam]) VALUES (N'HE111111', N'MAE_ASS1', 9.5, NULL)
INSERT [dbo].[Grade] ([sID], [AssID], [Score], [DateExam]) VALUES (N'HE111112', N'MAE_ASS1', 9, NULL)
INSERT [dbo].[Grade] ([sID], [AssID], [Score], [DateExam]) VALUES (N'HE111113', N'MAE_ASS1', 9, NULL)
GO
INSERT [dbo].[Group] ([Gid], [gName]) VALUES (N'IA1', N'IA1604')
INSERT [dbo].[Group] ([Gid], [gName]) VALUES (N'IA2', N'IA1605')
INSERT [dbo].[Group] ([Gid], [gName]) VALUES (N'SE1', N'SE1647')
GO
INSERT [dbo].[Group_Student] ([gID], [sID]) VALUES (N'IA1', N'HE111117')
INSERT [dbo].[Group_Student] ([gID], [sID]) VALUES (N'IA1', N'HE111119')
INSERT [dbo].[Group_Student] ([gID], [sID]) VALUES (N'IA2', N'HA123456')
GO
INSERT [dbo].[Semester] ([SesID], [SesName], [StartDate], [EndDate]) VALUES (N'FALL21', N'Fall 2021', CAST(N'2021-09-06' AS Date), CAST(N'2021-11-30' AS Date))
INSERT [dbo].[Semester] ([SesID], [SesName], [StartDate], [EndDate]) VALUES (N'SP21', N'Spring 2021', CAST(N'2021-01-06' AS Date), CAST(N'2021-03-25' AS Date))
INSERT [dbo].[Semester] ([SesID], [SesName], [StartDate], [EndDate]) VALUES (N'SP22', N'Spring 2022', CAST(N'2022-01-05' AS Date), CAST(N'2022-03-25' AS Date))
GO
INSERT [dbo].[Student] ([sID], [FirstName], [LastName], [Gender], [DOB], [Address]) VALUES (N'HA123456', N'Nguyễn Như', N'Quỳnh', 0, CAST(N'2003-10-24' AS Date), N'Tuyên Quang')
INSERT [dbo].[Student] ([sID], [FirstName], [LastName], [Gender], [DOB], [Address]) VALUES (N'HE111111', N'Vũ Đức', N'Huy', 1, CAST(N'2002-02-02' AS Date), N'Thái Bình')
INSERT [dbo].[Student] ([sID], [FirstName], [LastName], [Gender], [DOB], [Address]) VALUES (N'HE111112', N'Vũ Đức', N'Hải', 1, CAST(N'2002-03-02' AS Date), N'Hà Nội')
GO
INSERT [dbo].[View] ([sID], [CourseID], [Semester], [Average], [Status]) VALUES (N'HE111111', N'MAE101', N'FALL21', 0, N'NOT PASS')
INSERT [dbo].[View] ([sID], [CourseID], [Semester], [Average], [Status]) VALUES (N'HE111111', N'PRF192', N'FALL21', 0, N'NOT PASS')
--insert more

INSERT [dbo].[View] ([sID], [CourseID], [Semester], [Average], [Status]) VALUES (N'HE111112', N'MAE101', N'FALL21', 0, N'NOT PASS')



--
GO
ALTER TABLE [dbo].[View] ADD  CONSTRAINT [df_av_st]  DEFAULT ((0)) FOR [Average]
GO
ALTER TABLE [dbo].[View] ADD  CONSTRAINT [df_st_st]  DEFAULT ('NOT PASS') FOR [Status]
GO
ALTER TABLE [dbo].[Assesment]  WITH CHECK ADD  CONSTRAINT [FK_Assesment_CategoryDetails] FOREIGN KEY([CDID])
REFERENCES [dbo].[CategoryDetails] ([cdID])
GO
ALTER TABLE [dbo].[Assesment] CHECK CONSTRAINT [FK_Assesment_CategoryDetails]
GO
ALTER TABLE [dbo].[Assesment]  WITH CHECK ADD  CONSTRAINT [FK_Assesment_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Assesment] CHECK CONSTRAINT [FK_Assesment_Course]
GO
ALTER TABLE [dbo].[CategoryDetails]  WITH CHECK ADD  CONSTRAINT [FK_CategoryDetails_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[CategoryDetails] CHECK CONSTRAINT [FK_CategoryDetails_Category]
GO
ALTER TABLE [dbo].[Grade]  WITH CHECK ADD  CONSTRAINT [FK_Grade_Assesment] FOREIGN KEY([AssID])
REFERENCES [dbo].[Assesment] ([AssID])
GO
ALTER TABLE [dbo].[Grade] CHECK CONSTRAINT [FK_Grade_Assesment]
GO
ALTER TABLE [dbo].[Grade]  WITH CHECK ADD  CONSTRAINT [FK_Grade_Student] FOREIGN KEY([sID])
REFERENCES [dbo].[Student] ([sID])
GO
ALTER TABLE [dbo].[Grade] CHECK CONSTRAINT [FK_Grade_Student]
GO
ALTER TABLE [dbo].[Group_Student]  WITH CHECK ADD  CONSTRAINT [FK_Group_Student_Group] FOREIGN KEY([gID])
REFERENCES [dbo].[Group] ([Gid])
GO
ALTER TABLE [dbo].[Group_Student] CHECK CONSTRAINT [FK_Group_Student_Group]
GO
ALTER TABLE [dbo].[Group_Student]  WITH CHECK ADD  CONSTRAINT [FK_Group_Student_Student] FOREIGN KEY([sID])
REFERENCES [dbo].[Student] ([sID])
GO
ALTER TABLE [dbo].[Group_Student] CHECK CONSTRAINT [FK_Group_Student_Student]
GO
ALTER TABLE [dbo].[View]  WITH CHECK ADD  CONSTRAINT [FK_View_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[View] CHECK CONSTRAINT [FK_View_Course]
GO
ALTER TABLE [dbo].[View]  WITH CHECK ADD  CONSTRAINT [FK_View_Semester1] FOREIGN KEY([Semester])
REFERENCES [dbo].[Semester] ([SesID])
GO
ALTER TABLE [dbo].[View] CHECK CONSTRAINT [FK_View_Semester1]
GO
ALTER TABLE [dbo].[View]  WITH CHECK ADD  CONSTRAINT [FK_View_Student] FOREIGN KEY([sID])
REFERENCES [dbo].[Student] ([sID])
GO
ALTER TABLE [dbo].[View] CHECK CONSTRAINT [FK_View_Student]
GO
USE [master]
GO
